{% extends 'blog/base.html' %}

{% block content %}
  <body>
    <div>
      <h1>회원가입</h1>
      <form method="POST" action=".">
        {% csrf_token %}
          {% if form.errors %}
          <p>err</p>
          {% endif %}
            <fieldset>
              <div>
                {{ form.username.label_tag }} {{ form.username }}
              </div>
              <div>
                {{ form.password1.label_tag }}  {{ form.password1 }}
              </div>
              <div>
                {{ form.password2.label_tag }}  {{ form.password2 }}
              </div>
            </fieldset>
            <div>
              <input type="submit" value="등록">
            </div>
      </form>
    </div>
  </body>
{% endblock %}
