<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Outstretched 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131014

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<p>한 권의 책을, </p>
				<h1><a href="#">📚북뮤니티</a></h1>
			</div>
		</div>
	</div>
	<div id="page" class="container">
		<div id="sidebar1">
			<div id="box1">
				<h2>로그인이 필요한 페이지입니다.</h2>
				<a href="#" class="button">Login</a>
				<a href="#" class="button">회원가입</a> </div>
				<a href="#" class="button">글쓰기</a>
			<div id="box2">
				<h2>Nulla luctus</h2>
				<ul class="style1">
					<li class="first"><a href="#">Vestibulum luctus venenatis dui</a></li>
					<li><a href="#">Aenean elementum facilisis ligula</a></li>
					<li><a href="#">Ut tincidunt elit vitae augue</a></li>
					<li><a href="#">Aenean elementum facilisis ligula</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<h2>Mauris vulputate dolor</h2>
			<p><img src="images/img03.jpg" width="600" height="250" alt="" /></p>
			<p>This is <strong>Outstretched </strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.  The photo used in this template is from <a href="http://fotogrph.com/">Fotogrph</a>.  This free template is released under the <a href="http://creativecommons.org/licenses/by/3/">Creative Commons Attribution</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)</p>
			<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum ut, vestibulum eu, facilisis quis, arcu. Mauris a dolor. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc. Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. </p>
		</div>
		<div id="sidebar2">
			<div>
				<h2> 오늘의 추천도서</h2>
				<ul class="style2">
					<img src="images/prince.jpg" alt="Image error">
					<li class="first">
						<h3><a href="#">Le Petit Prince</a></h3>
						<p><a href="#">생텍쥐페리 지음</a></p>
					</li>
				</ul>
		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>
</body>
</html>
