<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Outstretched 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131014

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper" onclick="index.html">
		<div id="header" class="container" style="background-color: green;">
			<div id="logo">
				<p>한 권의 책을, </p>
				<h1><a href="#" >📚북뮤니티</a></h1>
			</div>
		</div>
	</div>
	<div id="page" class="container">
		<div id="sidebar1">
			<div id="box1">
				<div id="box2">
					<h2>📚</h2>
                    <h2>멋쟁이사자 님</h2>
                    <h2>독후감 172권</h2>
				</div>
				<a href="#" class="button">로그아웃</a>
				<a href="#" class="button">마이페이지</a> 
				<a href="#" class="longbutton">글쓰기</a>
			</div>
		</div>
		<div id="content">
			<div id="timeline1"> <!-- 아래 여백 -->
                <div id="profilebox">
                    <div id="profile" style="float:left; width:70%;">
                        <h3>📚</h3>
                        <a>멋사 님</a> <br>
                        <a>독후감 172권</a>
                    </div>
                    <div id="followbutton" style="float:left; width:30%">
                        <a href="#" class="button">팔로우</a>
                    </div>
                </div>
                <div id="bookbox">
                    <div id="bookimage" style="float:left; width:20%">
                        <img src="images/prince.jpg" width="100" height="150" alt="Image error">
                    </div>
                    <div id="bookinfo" style="float:left; width:30%">
                        <h3>어린왕자</h3><br>
                        <a>생텍쥐페리 지음</a> <br>
                        <a>ㅇㅇ출판사</a>
                    </div>
                    <div id="bookcomment" style="float:left; width:50%">
                        <h3>book comments</h3>
                    </div>
                </div>

                <div id="timeline1">
                    <div id="profilebox">
                        <div id="profile" style="float:left; width:70%;">
                            <h3>📚</h3>
                            <a>멋사 님</a> <br>
                            <a>독후감 172권</a>
                        </div>
                    </div>
                    <div id="followbutton" style="float:left; width:30%">
                        <a href="#" class="button">팔로우</a>
                    </div>
                </div>
                <div id="bookbox">
                    <div id="bookimage" style="float:left; width:20%">
                        <img src="images/prince.jpg" width="100" height="150" alt="Image error">
                    </div>
                    <div id="bookinfo" style="float:left; width:30%">
                        <h3>어린왕자</h3><br>
                        <a>생텍쥐페리 지음</a> <br>
                        <a>ㅇㅇ출판사</a>
                    </div>
                    <div id="bookcomment" style="float:left; width:50%">
                        <h3>book comments</h3>
                    </div>
                </div>
            </div>
            
		</div>
		<div id="sidebar2">
			<div>
				<h2> 오늘의 추천도서</h2>
				<ul class="style2">
					<img src="images/prince.jpg" width="200" height="300" alt="Image error">
					<li class="first">
						<h3><a href="#">Le Petit Prince</a></h3>
						<p><a href="#">생텍쥐페리 지음</a></p>
					</li>
				</ul>
		</div>
	</div>
</div>
</body>
</html>
