{% extends "blog/base.html" %}
{% block content %}

<body>
  <h1>검색</h1>
    <input type = "search" name = "find" id = "search_input">
    <button type = "submit" id = "search_button">검색</button>
  <p id="show"></p>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $('#search_button').click(function(){
    var search_key = $('#search_input').val();
    $.ajax({
      url:"/search/?find=" + search_key,
      data:{ 'search_key':search_key},
      success:function(data){
        $('#show').html(data);
      }
    })
  })
</script>

{% endblock %}
