{% extends "blog/base.html" %}
{% block content %}
<body>
  <h1>검색</h1>
    <form action = "{% url 'api_search' %}" method="GET">
      <input type = "text" name = "find" placeholder = "검색" id = "search_input">
      <button type = "submit" id = "search_button">검색</button>
    </form>

    <p id="show"></p>

  <div>
  {% for item in items %}
      <ul>
          <div>
            {{ forloop.counter }}
            <img src="{{item.image}}" alt="" width="110" height="150"><br>
            제목 : {{ item.title|safe }} <br>
            글쓴이 : {{ item.author|safe }} <br>
            출판사 : {{ item.publisher|safe }} <br>
            ISBN : {{ item.isbn|safe }}
          </div>
      </ul>
  {% endfor %}
  </div>
</body>
{% endblock %}
