{% extends "blog/base.html" %}
{% block content %}

<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">

        <!-- 제목 -->
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">{{ post.title }}</th>
              {% if user.is_authenticated %}
              <th class="column2"><a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">수정</a><a class='btn btn-primary' href="{% url 'post_remove' pk=post.pk %}">삭제</a></th>
              {% endif %}
            </tr>
          </thead>
        </table>

        <!-- 내용 -->
        <h2>{{ post.bookauthor }} - {{ post.bookname }} 리뷰 by {{ post.author }}</h2>
        <div class="date postdate">
          {{ post.published_date }}
        </div>

        <p class='postcontent'>{{ post.text|safe|linebreaksbr }}</p>

      </div>
    </div>
  </div>
</div>

  <hr>
  <br><br>

  <a class='btn btn-primary btn-comment' href="{% url 'add_comment_to_post' pk=post.pk %}">댓글 작성</a>

  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100">
          <table>
            {% for comment in post.comments.all %}
            {% if user.is_authenticated %}
            <tbody>
                <tr>
                  <td class="column1">{{ comment.author }}: {{ comment.text|safe|linebreaks }}</td>
                  <td class="column2">{{ comment.published_date }}</td>
                  <td class="column3"><a class='btn btn-primary' href="{% url 'comment_remove' pk=comment.pk %}">삭제</a></td>
                </tr>
            </tbody>
            {% endif %}
            {% empty %}
            <p>댓글없음</p>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
