{% extends "blog/base.html" %}
{% block content %}

<body>
  <div class="main-wrapper">
    <section class="blog-list px-3 py-5 p-md-5">
      {% for post in post_list %}
      <div class="container">
        <div class="item mb-5">
          <div class="media-body">
            <h3 class="title mb-1"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.bookname }} 리뷰 - {{ post.title }}</a></h3>
            <div class="meta mb-1"><span class="date">{{ post.published_date|date:"Y-m-d" }}</span><span class="comment">💬{{ post.comments.count }}</span></div>
            <div class="intro">{{ post.text }}</div>
            <a class="more-link" href="blog-post.html">자세히 읽기 &rarr;</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
  </div>
</body>

{% endblock %}

<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">제목</th>
              <th class="column2">작성자</th>
              <th class="column3">등록일</th>
              <th class="column4">댓글</th>
            </tr>
          </thead>
          {% for post in post_list %}
          <tbody>
              <tr>
                <td class="column1"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.bookname }} 리뷰 - {{ post.title }}</a></td>
                <td class="column2">{{ post.author }}</td>
                <td class="column3">{{ post.published_date|date:"Y-m-d" }}</td>
                <td class="column4"><a href="{% url 'post_detail' pk=post.pk %}">💬{{ post.comments.count }}</a></td>
              </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
